@using WebApplication.Models;
@model List<WebApplication.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    List<Product> SaleProduct = ViewBag.SaleProduct;

}


<div id="slide-wrapper">
    <ul id="slider">
        <li>
            <div class="border_on_img"></div>
            <div class="content_slider">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
            <img src="~/Pic/sale.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">
        </li>
        <li>
            <div class="border_on_img"></div>
            <div class="content_slider">
                <p>sed diam nonummy</p>
            </div>
            <img src="~/Pic/sale1.jpg" alt="sed diam nonummy">
        </li>
        <li>
            <div class="border_on_img"></div>
            <div class="content_slider">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
            </div>
            <img src="~/Pic/banner.jpg" alt="Lorem ipsum dolor sit amet, consectetuer adipiscing elit.">
        </li>

    </ul>
</div>
<div class="banner">
    <div><a href="specials.html"><img src="~/image/small-banner-green-225x161.png" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"></a> </div>
</div>
<div class="banner">
    <div><img src="~/image/small-banner-blue-225x161.png" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"> </div>
</div>
<div class="box">
    <div>
        <h1 class="title_module"><span>New Products</span></h1>
        <div class="box-content">


            @for (int i = 0; i < Model.Count; i++)
            {
                if (i % 4 != 3)
                {
                    <div class="box-product">
                        <a class="image" href="@Url.Action("DetailProduct","Category",new { id=Model[i].Id})" title="View more"> <img src="@Model[i].ImageLink" width="220" height="220" alt=""> </a>
                        <h3 style="text-align:center"><a href="@Url.Action("Details","Product",new {ProductID=Model[i].Id })">@Model[i].Name</a></h3>
                        <p class="wrap_price">  <span class="price">@Model[i].Price</span> </p>
                        <p class="submit">
                            <input type="button" value="Add to Cart" class="btn btn-default add-to-cart" data-id="@Model[i].Id">
                        </p>
                        <div class="desc">
                        </div>
                    </div>
                }
                else
                {
                    if (i != Model.Count)
                    {
                        <div class="box-product last-item">
                            <a class="image" href="@Url.Action("DetailProduct","Category",new { id=Model[i].Id})" title="View more"> <img src="@Model[i].ImageLink" width="220" height="220" alt=""></a>
                            <h3 style="text-align:center"><a href="@Url.Action("Details","Product",new {ProductID=Model[i].Id })">@Model[i].Name</a></h3>
                            <p class="wrap_price">  <span class="price">@Model[i].Price</span> </p>
                            <p class="submit">
                                <input type="button" value="Add to Cart" class="button">
                            </p>
                        </div>

                        @Html.Raw("</div>")
                        @Html.Raw("<div class='box - content'>")

                    }
                }









            }






        </div>



    </div>

</div>




<div class="box">
    <div>
        <h1 class="title_module"><span>Sale Products</span></h1>
        <div class="box-content">

            @foreach (var pro in SaleProduct)
            {
                <div class="box-product">
                    <a class="image" href="@Url.Action("DetailProduct","Category",new { id=@pro.Id})" title="View more"> <img src="@pro.ImageLink" width="220" height="220" alt=""><span class="new">Sale @pro.Discount %</span> </a>
                    <h3 style="text-align:center"><a href="@Url.Action("Details","Product",new {ProductID=pro.Id })">@pro.Name</a></h3>
                    <p class="wrap_price">  <span class="price-old">@pro.Price</span><span class="price-new">@pro.Price</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>

                    <div class="desc">
                    </div>

                </div>
            }






            @*@for (int i = 0; i < Model.Count; i++)
                {
                    if (i % 4 != 3)
                    {
                        <div class="box-product">
                            <a class="image" href="product.html" title="View more"> <img src="@Model[i].ImageLink" width="220" height="220" alt="@Model[i].ImageList"> </a>
                            <h3 style="text-align:center"><a href="@Url.Action("Detail","Product",new {ProductID=Model[i].ProductID })">@Model[i].Name</a></h3>
                            <p class="wrap_price">  <span class="price">@Model[i].Price</span> </p>
                            <p class="submit">
                                <input type="button" value="Add to Cart" class="button">
                            </p>
                            <div class="desc">
                            </div>
                        </div>
                    }
                    else
                    {
                        if (i != Model.Count)
                        {
                            <div class="box-product last-item">
                                <a class="image" href="product.html" title="View more"> <img src="@Model[i].ImageLink" width="220" height="220" alt=""><span class="new">Sale</span> </a>
                                <h3 style="text-align:center"><a href="@Url.Action("Detail","Product",new {ProductID=Model[i].ProductID })">@Model[i].Name</a></h3>
                                <p class="wrap_price">  <span class="price-old">1000000</span><span class="price-new">@Model[i].Price</span> </p>
                                <p class="submit">
                                    <input type="button" value="Add to Cart" class="button">
                                </p>
                            </div>

                            @Html.Raw("</div>")
                            @Html.Raw("<div class='box - content'>")

                        }
                    }









                }*@




        </div>



    </div>

</div>
@*<div class="box">
        <div>
            <h1 class="title_module"><span>Latest Products</span></h1>
            <div class="box-content">
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p1-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Brown jacket for boys and girls</a></h3>
                    <p class="wrap_price"> <span class="price">$236.99</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p2-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Funny toy in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price-old">$119.50</span> <span class="price-new">$60.75</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p3-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Brown shoes for boys</a></h3>
                    <p class="wrap_price"> <span class="price">$119.50</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product last-item">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p4-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Locomotive in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price">$1,177.00</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="box">
        <div>
            <h1 class="title_module"><span>Special Products</span></h1>
            <div class="box-content">
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p5-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Locomotive in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price-old">$119.50</span> <span class="price-new">$107.75</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p6-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Brown shoes for boys</a></h3>
                    <p class="wrap_price"> <span class="price-old">$119.50</span> <span class="price-new">$96.00</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p1-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Funny toy in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price-old">$119.50</span> <span class="price-new">$60.75</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product last-item">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p2-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Brown jacket for boys and girls</a></h3>
                    <p class="wrap_price"> <span class="price-old">$1,177.00</span> <span class="price-new">$707.00</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="box">
        <div>
            <h1 class="title_module"><span>Featured Products</span></h1>
            <div class="box-content">
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p3-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Brown jacket for boys and girls</a></h3>
                    <p class="wrap_price"> <span class="price">$589.50</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p4-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Funny toy in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price">$120.68</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p5-209x179.jpg" alt=""> <span class="new">Sale</span> </a>
                    <h3 class="name"><a href="product.html" title="">Brown shoes for boys</a></h3>
                    <p class="wrap_price"> <span class="price-old">$119.50</span> <span class="price-new">$107.75</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
                <div class="box-product last-item">
                    <a class="image" href="product.html" title="View more"> <img src="image/ex/p6-209x179.jpg" alt=""> </a>
                    <h3 class="name"><a href="product.html" title="">Locomotive in green, red and blue</a></h3>
                    <p class="wrap_price"> <span class="price">$236.99</span> </p>
                    <p class="submit">
                        <input type="button" value="Add to Cart" class="button">
                    </p>
                </div>
            </div>
        </div>
    </div>*@
<div class="clear"></div>
<div id="carousel">
    <ul class=" jcarousel-skin-tfc">
        <li><a href="brands.html"><img src="~/Pic/logo.jpg" width="80" height="80" alt="" title=""></a></li>
        <li><a href="brands.html"><img src="~/Pic/logo1.jpg" width="80" height="80" alt="" title=""></a></li>
        <li><a href="brands.html"><img src="~/Pic/logo2.jpg" width="80" height="80" alt="" title=""></a></li>
        <li><a href="brands.html"><img src="~/Pic/logo3.jpg" width="80" height="80" alt="" title=""></a></li>
        <li><a href="brands.html"><img src="~/Pic/logo4.jpg" width="80" height="80" alt="" title=""></a></li>
        <li><a href="brands.html"><img src="~/Pic/logo5.jpg" alt="" title=""></a></li>
        <li><a href="brands.html"><img src="~/Pic/logo6.png" alt="" title=""></a></li>
    </ul>
</div>

@*@section scripts{
    <script>
        $(function () {
            $(".add-to-cart").click(function () {
                pid = $(this).attr("data-id");
                $.ajax({
                    url: "/Cart/Add",
                    data: { id: pid },
                    success: function (response) {
                        $("#nn-cart-count").html(response.Count);
                        $("#nn-cart-total").html(response.Total);
                    }
                });

                // hieu ung bay vao gio
                cssfly = ".fly-effect {background:url(?);background-size:100% 100%;}";
                src = $("#i" + pid).attr("src");
                newcssfly = cssfly.replace("?", src);
                $("#cart-fly").html(newcssfly);

                options = { to: "#nn-cart-image", className: "fly-effect" };
                $("#i" + pid).effect("transfer", options, 500, function () { });
            });
        });
    </script>
}*@